<div class="d-flex flex-row m-5 pt-5  " style=" font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
    <div>
        <img src="https://picsum.photos/204/200" class="px-5 rounded-circle" alt="...">
    

    </div>
    <div>
        <bold class="h3">The Second Heading </bold><bold class="h3 text-muted" >Is Pretty Cool Tool</bold>
        <br>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor, autem et cumque doloremque, illum modi, distinctio aspernatur nesciunt id eos possimus obcaecati dolore! Fugiat delectus saepe modi necessitatibus ab ea.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, explicabo. Id fugit neque repellendus dolor numquam, eligendi molestiae vitae explicabo omnis, cum eaque eos dolores, officiis a ad pariatur consequuntur!</p>

    </div>

</div>
<!-- your html code here -->
